.calendar {
  display: flex;
  position: absolute;
  top: 62px;
  width: 100%;
  height: 55px;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
  color: #1eb7ee !important;

  &_picker {
    display: flex;
    padding: 0;
  }
  &_input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-size: 35px;
    border: none;
    outline: none;
    background-color: #1eb7ee;
    color: #fff;
  }
  &_span {
    display: flex;
    line-height: 20px;
    padding: 0;
    margin: 0;
    padding-left: 7px;
  }
  &_dates {
    display: flex;
    height: 55px;
    width: 40%;
    line-height: 15px;
    border-bottom: solid 3px #c0c0c0;

    &__day {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 55px;
      width: 100px;
      padding: 5px;
      flex: 1;
      color: #1eb7ee;
    }
    &__name-day {
      display: flex;
      align-items: center;
      height: 40px;
      color: #1eb7ee;
    }
  }
}

input::-webkit-datetime-edit {
  display: none;
}
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
