@import '../../breakpoints.scss';

.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  background-color: transparent;
  cursor: pointer;
  @include for-large-up {
    width: 90%;
    min-width: 150px;
    margin: auto;
    margin-top: 20px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 8.25rem;
    border-top-left-radius: 8.25rem;
    border-top-right-radius: 8.25rem;
  }

  &_departures {
    position: absolute;
    text-align: center;
    width: 58vw;
    line-height: 63px;
    padding-right: 100px;
    border: none;
    border-top-right-radius: 8.25rem;
    border-top-left-radius: 8.25rem;
    color: #fff;
    background-attachment: fixed;
    background-color: #1eb7ee;
    transition: 0.3s ease-in-out;
    z-index: 1;

    @include for-large-up {
      width: 58%;
      border-top-right-radius: 8.25rem;
      border-top-left-radius: 8.25rem;
    }
  }

  &_arrivals {
    position: absolute;
    right: 0;
    line-height: 63px;
    min-width: 58vw;
    padding-left: 100px;
    text-align: center;
    border: none;
    border-top-left-radius: 8.25rem;
    border-top-right-radius: 8.25rem;
    color: #fff;
    background-color: #1eb7ee;
    transition: 0.3s ease-in-out;
    z-index: 2;

    @include for-large-up {
      border-top-left-radius: 8.25rem;
      border-top-right-radius: 8.25rem;
      width: 58%;
    }
  }
}

.navigation-btn {
  display: flex;
  width: 100vw;
  background-color: transparent;
}
.white {
  border-top-left-radius: 8.25rem;
  border-top-right-radius: 8.25rem;
  background-color: #fff;
  color: #1eb7ee;
  z-index: 3;
  transition: 0.3s ease-in-out;
}
.icon-plane {
  padding: 15px;
  font-size: 20px;
}
