@import '../../breakpoints.scss';

.board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  margin-top: 117px;

  @include for-large-up {
    width: 90%;
    margin: auto;
    margin-top: 117px;
  }
  &_table {
    height: 80px;
    padding: 0 30px;
    border-collapse: collapse;
    border: 0;
    text-indent: initial;
    background-color: #fff;

    @include for-large-up {
      white-space: nowrap;
    }

    & tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
    & th {
      width: 5vw;
      height: 80px;
      border: 0;
      padding: 0;
      background-color: #fff !important;
      color: lightgrey;
    }

    & tr {
      width: 100vw;
      padding: 0;
      padding-right: 30px;
      border: 0;
      border-collapse: collapse;
      text-align: center;
      @include for-large-up {
        min-width: 60px;
      }
    }
    & td {
      min-width: 5vw;
      margin: auto;
      overflow: hidden;
      text-overflow: clip;
      white-space: wrap;

      @include for-large-up {
        max-width: 110px;
      }
      &:hover {
        overflow: visible;
      }
    }
  }
  &_table__head {
    width: 100vw;
    background-color: #f2f2f2 !important;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  padding: 10px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

  &:hover {
    overflow: visible;
  }
}
.logo-airlines {
  width: 70px;
  height: 50px;
}
