.calendar {
  display: flex;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
  color: #1eb7ee !important;
  text-align: center;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
  width: 100%;
  height: 55px;
  position: absolute;
  top: 62px;
}

.calendar_picker {
  display: flex;
  padding: 0;
}

.calendar_input {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 40px;
  background-color: #1eb7ee;
  color: #fff;
  border: none;
  outline: none;
  justify-content: center;
}

.calendar_span {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 15px;
  padding-left: 7px;
}

.calendar_dates {
  display: flex;
  width: 40%;
  line-height: 15px;
  height: 55px;
}

.calendar_dates__day {
  display: flex;
  padding: 0;
  flex: 1;
  color: #1eb7ee;
  flex-direction: column;
  align-items: center;
  height: 55px;
  width: 100px;
}

.calendar_dates__name-day {
  display: flex;
  align-items: center;
  height: 40px;
}

input::-webkit-datetime-edit {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
