@import 'navigation.scss';
@import 'search.scss';
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: #e7efec;
}

.icon-seach {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 44px;
  width: 44px;
}

.icon-plane {
  font-size: 20px;
  padding: 15px;
}

.grey {
  background-color: #c7dedd;
}
.white {
  background-color: #fff;
}
.light-grey {
  color: #c0c0c0;
  font-weight: 150;
  font-size: 13px;
}
