@import 'navigation.scss';
@import 'search.scss';
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: #e7efec;
}

.icon-seach {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 44px;
  width: 44px;
}

.icon-plane {
  font-size: 20px;
  padding: 15px;
}

.grey {
  background-color: #c7dedd;
}
.white {
  background-color: #fff;
}
.light-grey {
  color: #c0c0c0;
  font-weight: 150;
  font-size: 13px;
}
.logo-airlines {
  width: 70px;
  height: 50px;
}
.span {
  line-height: 300px;
  width: 100%;
  background-color: #fff;
  color: black;
  font-size: 25px;
  font-weight: 700;
  margin: 0;

  text-align: center;
  padding: auto;
}
.border-blue {
  border-bottom: solid #1eb7ee 3px;
}
link {
  border: none;
}
button {
  padding: 0;
}
// const [isActive, setIsActive] = useState(true);
// const stateToRender = () => {
//   isActive ? setIsActive(false) : setIsActive(true);
// };
// const location = useLocation();
// const parsed = qs.parse(location.search);

// let dayDate = useEffect(() => {
//   getflightsList(parsed.date);
// }, [parsed.date]);
