.navigation {
  display: flex;
  position: relative;
  background-color: transparent;
  line-height: 60px;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  width: 100%;
  max-width: 740px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;

  cursor: pointer;
  &_departures {
    border: 1px solid transparent;
    width: 58%;
    border-top-left-radius: 0.25rem;
    position: absolute;
    padding-right: 100px;
    border: none;
    transition: 0.3s ease-in-out;

    z-index: 1;

    line-height: 60px;
    color: #fff;
    background-attachment: fixed;

    border-top-left-radius: 8.25rem;
    border-top-right-radius: 8.25rem;
    background-color: #1eb7ee;

    text-align: center;
  }

  &_arrivals {
    position: absolute;
    right: -3px;
    z-index: 2;
    border: 1px solid transparent;
    width: 58%;
    border-top-left-radius: 8.25rem;
    border-top-right-radius: 8.25rem;
    padding-left: 100px;
    position: absolute;
    right: -3px;
    z-index: 2;
    border: 1px solid transparent;

    border-top-left-radius: 8.25rem;
    border-top-right-radius: 8.25rem;

    border: none;
    transition: 0.3s ease-in-out;

    border: 0;

    line-height: 60px;
    color: #fff;
    background-attachment: fixed;

    background-color: #1eb7ee;

    text-align: center;
  }
}
a {
  text-decoration: none;
}
.navigation-btn {
  display: flex;
}
.white {
  border-top-left-radius: 8.25rem;
  border-top-right-radius: 8.25rem;
  background-color: #fff;
  color: #1eb7ee;
  z-index: 3;

  transition: 0.3s ease-in-out;
}
